<input placeholder="Search ..." [(ngModel)]="searchString"  type="text" class="form-control">
<hr>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Tên</th>
        <th scope="col">SĐT</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Nghề nghiệp</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of service.listUser | filter:searchString | paginate: { itemsPerPage:3, currentPage:p}">
            <td (click)="populateForm(user)">{{user.name}}</td>
            <td (click)="populateForm(user)">{{user.phoneNumber}}</td>
            <td (click)="populateForm(user)">{{user.address}}</td>
            <td (click)="populateForm(user)">{{user.job}}</td>
            <td><i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(user)"></i> </td>
            </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p=$event"></pagination-controls>