<div class="container">
    <div class="jumtron">
        <h1 class="display-4 text-center">
            Người dùng
        </h1>
        <div class="row">
            <div class="col-md-5">
                <app-user-form-detail></app-user-form-detail>
            </div>
            <div class="col-md-7">
                <app-user-list></app-user-list>
            </div>
        </div>
    </div>
</div>